body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f6f8;
    color: #333;
}


header {
    background-color: #005a8d;
    color: white;
    padding: 15px;
    text-align: center; 
}

footer {
    background-color: transparent;
    color: black;
    text-align: center;
    padding: 5px;
    position: static;
    font-size: 12px;
}

.login-container, .detalhes-container {
    max-width: 400px;
    margin: 80px auto;
    text-align: center;
}

.detalhes-container img {
    max-width: 80%;      
    height: auto;        
    display: block;
    margin: 20px auto;  
    border-radius: 8px; 
}

input {
    width: 100%; 
    padding: 8px; 
    margin-bottom: 10px; 
}


button {
    padding: 8px 16px; 
    background-color: #005a8d; 
    color: white; 
    border: none; 
    cursor: pointer; 
}

button:hover {
    background-color: #0073b1; 
}

.noticias-container {
    display: flex; 
    flex-wrap: wrap; /* Quebra linha quando não couber mais */
    justify-content: center; 
    gap: 20px; 
    padding: 20px;
}

.noticia {
    background-color: white; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    width: 300px; 
    padding: 15px; 
    text-align: center;
}
.noticia img {
    width: 100%; 
    border-radius: 8px;
}

.menu-hamburguer {
    cursor: pointer; 
    font-size: 24px; /* ícone */
    display: none; /* Esconde no desktop (aparece só no mobile) */
}

#menu {
    display: flex; 
    justify-content: center; 
    gap: 20px; /* links */
}

#menu.ativo {
    display: block; /* Mostra o menu quando ativo */
}


@media (max-width: 768px) {

    /* Mostra o ícone de menu no celular */
    .menu-hamburguer {
        display: block;
    }
    #menu {
        display: none;
        flex-direction: column;
        background-color: #005a8d; 
        padding: 10px;
    }

    #menu a {
        color: white; 
        text-decoration: none; 
        margin: 10px 0;
    }
}
